/* font-family: Manrope
font-weight: 400 e 700 */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

:root {
    font-size: 62.5%;
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

body {
    background-color: var(--background);
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-desktop {
    position: absolute;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5vh;
}

nav>a {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3.2rem;
    color: var(--text-color);
    border-bottom: solid .2rem transparent;
    transition: .5s;
}

nav>a:hover {
    border-bottom: solid .2rem var(--text-color);
}

.button-desktop {
    font-weight: 700;
    font-size: 1.1rem;
    height: 3.7rem;
    width: 17.2rem;
    color: var(--text-color);
    background-color: transparent;
    border: solid .1rem var(--button);
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

.button-desktop:hover {
    background-color: var(--button);
}


.background-desktop {
    height: 100vh;
    width: 100vw;
    background: url(/RocketCoffee-Rocketseat/assets/rocket-coffee.png) no-repeat bottom center, url(/RocketCoffee-Rocketseat/assets/blur-1.png) no-repeat bottom left, url(/RocketCoffee-Rocketseat/assets/blur-2.png) no-repeat top right;
}


.title-desktop {
    display: block;
    position: absolute;
    font-weight: 700;
    font-size: 10vh;
    color: var(--text-color);
    top: 15%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%);
    text-align: center;
}


#stroke {
    top: 30%;
    color: var(--background);
    text-shadow: -.1rem -.1rem 0 var(--button), .1rem -.1rem 0 var(--button), -.1rem .1rem 0 var(--button), .1rem .1rem 0 var(--button);
}

.nav-menu-desktop {
    width: 100vw;
    display: none;
    flex-direction: column;
    border-bottom: solid .1rem var(--border);
}

.nav-menu-desktop>a {
    height: 3em;
    margin: 0;
    font-size: 1.8em;
    font-weight: 700;
    border-top: solid .1rem var(--border);
    display: flex;
    align-items: center;
}

.nav-menu-desktop>a:focus {
    border-left: solid .5rem var(--button);
    border-bottom: none;
}

.background-mobile {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/RocketCoffee-Rocketseat/assets/rocket-coffee.png), url(/RocketCoffee-Rocketseat/assets/blur-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.header-mobile{
    position: relative;
    width: 100vw;
    padding: 2em;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid .1rem var(--border);
}

#menu-button{
    border: none;
    background-color: transparent;
    height: 4.8rem;
    width: 4.8rem;
    background: url(/RocketCoffee-Rocketseat/assets/menu-buguer-open.svg) no-repeat center;
    cursor: pointer;
}

.main{
    margin-top: 10vh;
    position: relative;
    display: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.slogan{
    padding: 5vw 5vw;
    font-weight: 400;
    font-size: 7vw;
    color: var(--text-color);
    text-align: center;
}

.mobile-button {
    font-weight: 700;
    font-size: 1.1rem;
    height: 3.7rem;
    width: 17.2rem;
    color: var(--text-color);
    background-color: transparent;
    border: solid .1rem var(--button);
    border-radius: .5rem;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
}

.title-mobile {
    margin-top: 5rem;
    display: none;
    position: absolute;
    top: 50%;
    font-weight: 700;
    font-size: 10vw;
    color: var(--text-color);
    width: 100vw;
    text-align: center;
}

.nav-menu-mobile{
    width: 100vw;
    display: none;
    flex-direction: column;
    border-bottom: solid .1rem var(--border-menu-mobile);
}

.nav-menu-mobile>a{
    width: inherit;
    height: 6vh;
    padding-left: 1rem;
    margin: 0;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    border-top: solid .1rem var(--border-menu-mobile);
}

.nav-menu-mobile>a:focus{
    border-left: solid .5rem var(--button);
}

@media screen and (max-width: 555px) {
    .background-mobile, .title-mobile{
        display: block;
    }

    .header-mobile, .main{
        display: flex;
    }

    .nav-menu-desktop, .header-desktop, .background-desktop, .title-desktop{
        display: none;
    }
}